<!DOCTYPE html>
<html>
<head>
  <title>NewAssignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<img src="/images/back.jpeg" height="200" width="800" align ="middle"> -->
<div id="div1">
<h1 id="cent"> Online Shopping </h1>
</div>
<%= yield %>

</body>
</html>
